body {
    background-color: #192734;
    color: #fff;
    font-family: 'Fira Code', monospace;
}
header {
    text-align: center;
    vertical-align: text-bottom;
    font-size: 2.25rem;
}
article {
    margin: 10%;
    white-space: pre-line;
    text-align: justify;
}
